@{
    ViewData["Title"] = "Test of LS in Dota";
}


<!DOCTYPE HTML>



<html>
<head runat="server">
    <meta charset="utf-8">
    <title>dz3</title>
</head>
<body>
    <p style="font-size:100px ;text-align:center ">Doter's test</p>
    <form method="post">
        <br />
        <br />
        <br />
        <b>
            Q1:What spell grimstroke is not have?
        </b>
        <br />
        <fieldset id="group1">
            <input type="radio" value="value1" name="group1">Stroke of Fate<br>
            <input type="radio" value="value2" name="group1">Black hole<br>
            <input type="radio" value="value2" name="group1">RP<br>
        </fieldset>
        <br />
        <b>
            Q2:What spell lion have?
        </b>
        <br />
        <fieldset id="group2">
            <input type="radio" value="value1" name="group2">Chemical rage<br>
            <input type="radio" value="value2" name="group2">Finger of death<br>
            <input type="radio" value="value3" name="group2">Scream of pain<br>
        </fieldset>

        <br />
        <b>
            Q3:What spell shadow fiend have?
        </b>
        <br />
        <fieldset id="group3">
            <input type="radio" value="value1" name="group3">Shadow raze<br>
            <input type="radio" value="value2" name="group3">Timebringer<br>
            <input type="radio" value="value3" name="group3">Ghost ship<br>
        </fieldset>

        <br />
        <b>
            Q4:What spell queen of pain  have?
        </b>
        <br />
        <fieldset id="group4">
            <input type="radio" value="value1" name="group4">Sonic wave<br>
            <input type="radio" value="value2" name="group4">Boundle strike<br>
            <input type="radio" value="value3" name="group4">Hex<br>
        </fieldset>

        <br />
        <b>
            Q5:What spell lina  have?
        </b>
        <br />
        <fieldset id="group5">
            <input type="radio" value="value1" name="group5">Laguna blade<br>
            <input type="radio" value="value2" name="group5">Shadow  death<br>
            <input type="radio" value="value3" name="group5">Exorcism<br>
        </fieldset>

        <br />
        <b>
            Q6:What spell dazzle  have?
        </b>
        <br />
        <fieldset id="group6">
            <input type="radio" value="value1" name="group6">Shallow grave<br>
            <input type="radio" value="value2" name="group6">Shadow  death<br>
            <input type="radio" value="value3" name="group6">Skeawer<br>
        </fieldset>

        <br />
        <b>
            Q7:What spell viper  have?
        </b>
        <br />
        <fieldset id="group7">
            <input type="radio" value="value1" name="group7">Poison attack<br>
            <input type="radio" value="value2" name="group7">Poison touch<br>
            <input type="radio" value="value3" name="group7">RP<br>
        </fieldset>

        <br />
        <b>
            Q8:What spell alchemist  have?
        </b>
        <br />
        <fieldset id="group8">
            <input type="radio" value="value1" name="group8">Chemical rage<br>
            <input type="radio" value="value2" name="group8">Shadow dance<br>
            <input type="radio" value="value3" name="group8">Blink<br>
        </fieldset>

        <br />
        <b>
            Q9:What spell crystal maiden  have?
        </b>
        <br />
        <fieldset id="group9">
            <input type="radio" value="value1" name="group9">Crystal Nova<br>
            <input type="radio" value="value2" name="group9">Shadow  raze<br>
            <input type="radio" value="value3" name="group9">Blink<br>
        </fieldset>
        <br />
        <b>
            Q10:What spell morfling  have?
        </b>
        <br />
        <fieldset id="group10">
            <input type="radio" value="value1" name="group10">Adaptive strike<br>
            <input type="radio" value="value2" name="group10">Shadow dance<br>
            <input type="radio" value="value3" name="group10">Poison touch<br>
        </fieldset>
        <p><input type="submit" value="Submite"></p>
        <br />
        <asp:Label name="label1" id="label1" runat="server" />
        <br />
        <br />
    </form>

</body>

</html>
